* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
    --ff-main: 'Inter', sans-serif;
    --title: 700 1.5rem/2rem var(--ff-main);
    --label: 500 1rem/1.25rem var(--ff-main);
    --p: 400 1rem/1.25rem var(--ff-main);
    --link: 400 .875rem/1rem var(--ff-main);
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 62px 0;
}

body {
    background-color: var(--background-primary);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 40px;

    & .app {

        .back {
            padding-bottom: 1rem;

            a {
                color: var(--color-brand);
                display: flex;
                align-items: center;
                gap: 4px;
                font: var(--link);

                & svg {
                    stroke: var(--color-brand);
                    width: 1rem;
                    height: 1rem;
                }

            }
        }

        h1 {
            font: var(--title);
            color: var(--content-primary);
            padding-bottom: 44px;
        }

        .addItem {
            display: flex;
            gap: 12px;
            margin-bottom: 32px;

            font: var(--p);

            input {
                /* width: 296px; */
                height: 44px;
                padding: 0 16px;
                border: 2px solid var(--border-primary);
                border-radius: 12px;
                font: var(--input);
                color: var(--content-primary);

                &::placeholder {
                    color: var(--content-tertiary);
                }

                &:focus {
                    outline: none;
                    border-color: var(--border-hover);
                }
            }

            button {
                width: 10rem;
                height: 44px;
                background-color: var(--color-brand);
                border: none;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;

                & span {
                    color: var(--always-white);
                    font: var(--label);
                }

                &:hover {
                    background-color: var(--color-brand-hover);
                    cursor: pointer;
                }

                & img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .items {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 36px;

            .item {
                border-radius: 12px;
                padding: 8px 12px;
                display: flex;
                align-items: center;
                gap: 12px;
                font: var(--p);
                background-color: var(--background-secondary);

                img[alt*="lixeira"] {
                    width: 16px;
                    height: 16px;
                    margin-left: auto;
                    cursor: pointer;
                }
            }
        }

        .removed {
            border-radius: 12px;
            border: 1px solid var(--color-danger);
            display: flex;
            align-items: center;
            padding: 12px;
            gap: .5rem;
            background-color: var(--color-danger);
            font: var(--label);
            color: var(--always-white);

            & img {
                width: 20px;
                height: 20px;

            }

            & img[src*="x"] {
                margin-left: auto;
            }
        }
    }
}